/* ===============
	TYPOGRAPHY
=============== */

// Body font
$base-font-size: 15px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: 'Roboto Slab', Helvetica Neue, Helvetica, Arial, sans-serif;
$base-line-height: 28px;


// Headings
$heading-font-weight: 400;
$heading-font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
